sudo: required
language: node_js
node_js:
  - "9"

services:
  - docker

before_install:
  # install Heroku toolbelt and login
  - wget -qO- https://toolbelt.heroku.com/install.sh | sh
  - echo "$HEROKU_KEY" | docker login -u "$HEROKU_USERNAME" --password-stdin registry.heroku.com

install:
  # install dependencies on Travis host
  - npm install

script:
  # runs tests on Travis host and, if they pass, generate the image
  - npm run test-ci

deploy:
  provider: heroku
  app: "$HEROKU_APP_NAME"
  api_key:
    secure: "$HEROKU_KEY"
  script:
    # tags the generated image, push to Heroku registry and the release on the app
    docker push registry.heroku.com/$HEROKU_APP_NAME/web;
    heroku container:release web --app $HEROKU_APP_NAME
